PORT=3000
SOURCE_SHOP_DOMAIN=source-store.myshopify.com
SOURCE_ACCESS_TOKEN=your_source_admin_token
TARGET_SHOP_DOMAIN=target-store.myshopify.com
TARGET_ACCESS_TOKEN=your_target_admin_token
SOURCE_STORE_NAME=source
TARGET_STORE_NAME=target
SOURCE_INVENTORY_LOCATION_ID=71683670247
TARGET_INVENTORY_LOCATION_ID=
MIGRATION_CONCURRENCY=3
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=password
DB_DATABASE=your_database
